# Ignore files without extension
*
!/**/
!*.*

# Ignore IDE config folders
.vscode/
.idea/ 

# Ignore .exe
*.exe

# Ignore pio files
.pio

# Ignore sensitive files
arduino_secrets.h

# Ignore build files
build/
