# Ignore files without extension
*
!/**/
!*.*

# Ignore VS Code config folder
.vscode/

# Ignore .exe
*.exe

# Ignore pio files
.pio
.vscode

# Ignore sensitive files
arduino_secrets.h
.env

# Track Doxyfile for doxygen configuration
!Doxyfile

# Ignore .DS_Store
.DS_Store

# Include distributed executables
!send_temperature_offset
!send_temperature_offset.exe
